<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <title>COIEEEN</title>
  </head>
  <body>
    <div
      class="text-center jumbotron"
      style="height: 100vh; overflow-y: hidden; background-color: aliceblue"
    >
      <br />
      <img
        src="https://yt3.ggpht.com/ytc/AKedOLSwZ66PYFWla20rxO78gsmFc8Bv0TRtzfxAZLJj=s900-c-k-c0x00ffffff-no-rj"
        alt=""
        width="200"
      />
      <br />
      <h1>Blockchain Workshop</h1>

      <a href="/mine_block">
        <button type="button" class="btn btn-primary">Mine Block</button>
      </a>
      <a href="/get_chain">
        <button type="button" class="btn btn-primary">Get Chain</button>
      </a>
      <a href="/is_valid">
        <button type="button" class="btn btn-primary">Validate</button>
      </a>
      <a href="/replace_chain">
        <button type="button" class="btn btn-primary">Replace Chain</button>
      </a>
      <a href="/add_transaction">
        <button type="button" class="btn btn-primary">Add Transaction</button>
      </a>
      <a href="/open_transactions">
        <button type="button" class="btn btn-primary">Open Transaction</button>
      </a>
      <a href="/connect_node">
        <button type="button" class="btn btn-primary">Connect Node</button>
      </a>
      <a href="/view_network">
        <button type="button" class="btn btn-primary">View Network</button>
      </a>
    </div>
  </body>
</html>
