<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <title>COIEEEN</title>
  </head>
  <body>
    <div
      class="text-center jumbotron"
      style="height: 100vh; overflow-y: hidden; background-color: aliceblue"
    >
      <br />
      <img
        src="https://yt3.ggpht.com/ytc/AKedOLSwZ66PYFWla20rxO78gsmFc8Bv0TRtzfxAZLJj=s900-c-k-c0x00ffffff-no-rj"
        alt=""
        width="200"
      />
      <br />
      <h1>BlockChain Workshop</h1>
    </div>
  </body>
</html>
